<template>
    <div id="app-carro-cmp">
    <div class="container">

      <div class="text-left">
        <h2>Cadastro de Carros</h2>
      </div>
      <ul>
        <li v-for="(erro, index) of errors" :key="index">
          campo <b>{{erro.field}}</b> - {{erro.defaultMessage}}
        </li>
      </ul>

      <form @submit.prevent="cadastrar" class="form-group">

          <div class="form-row">
            <div class="col">
              <label>Nome</label>
              <input type="text" class="form-control" placeholder="Nome" v-model="carro.nome">
            </div>
            <div class="col">
              <label>Marca</label>
              <input type="text" placeholder="Marca" v-model="carro.marca" class="form-control">
            </div>  
          </div>
          <div class="form-row">
            <div class="col">
              <label>Modelo</label>
              <input type="text" placeholder="Modelo" v-model="carro.modelo" class="form-control">
            </div>
            <div class="col">
              <label>Cor</label>
              <input type="text" placeholder="Cor" v-model="carro.cor" class="form-control">
            </div>      
          </div>
          </br>
            <button class="btn btn-sm btn-primary btn-block">Cadastrar</button>
      </form>

      <table class="table table-striped">

        <thead class="bg-secondary">

          <tr>
            <th>NOME</th>
            <th>MARCA</th>
            <th>MODELO</th>
            <th>COR</th>
            <th></th>
          </tr>

        </thead>

        <tbody>

          <tr v-for="carro of carros" :key="carro.id">

            <td>{{ carro.nome }}</td>
            <td>{{ carro.marca }}</td>
            <td>{{ carro.modelo }}</td>
            <td>{{ carro.cor }}</td>
            <!--<td>
              <button @click="editar(carro.id,carro)" class="btn btn-success btn-small"><i class="material-icons">EDITAR</i></button>
              <button @click="remover(carro)" class="btn btn-danger btn-small"><i class="material-icons">REMOVER</i></button>
            </td>-->

          </tr>

        </tbody>
      
      </table>

    </div>

  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'

export default {
  name: 'carros',
  data() {
    return {
      carro:{
        id: '',
        nome: '',
        marca: '',
        modelo: '',
        cor: '',
      },
      carros: [],
      errors: []
    }
  },
  computed: {
    ...mapState([
      'usuario'
    ])
  },
  methods: {
    cadastrar() {
      axios.post('carro/salvar',
          {
            nome: this.carro.nome,
            marca: this.carro.marca,
            modelo: this.carro.modelo,
            cor: this.carro.cor,
            usuario: this.usuario
          })
        .then(res => {
          this.carro.nome = ''
          this.carro.marca = ''
          this.carro.modelo = ''
          this.carro.cor = ''
          this.atualizar()
        })
        .catch(error => console.log(error))
    },
    atualizar () {
      axios.get('carro/getAll', 
          { headers: { Accept: 'application/json' } })
        .then(res => {
          console.log(res)
          this.carros = res.data
        })
        .catch(error => console.log(error))
    },
    editar(id,carro){
      
    }
  },
  created () {
    this.atualizar()
  }
}
</script>