<template>
    <div id="app-cliente-cmp">
    <div class="container">

      <div class="text-left">
        <h2>Cadastro de Clientes</h2>
      </div>
      <ul>
        <li v-for="(erro, index) of errors" :key="index">
          campo <b>{{erro.field}}</b> - {{erro.defaultMessage}}
        </li>
      </ul>

      <form @submit.prevent="cadastrar" class="form-group">

          <div class="form-row">
            <div class="col">
              <label>Nome</label>
              <input type="text" class="form-control" placeholder="Nome" v-model="cliente.nome">
            </div>
            <div class="col">
              <label>Sobrenome</label>
              <input type="text" placeholder="Sobrenome" v-model="cliente.sobrenome" class="form-control">
            </div>  
          </div>
          <div class="form-row">
            <div class="col">
              <label>CPF</label>
              <input type="text" placeholder="CPF(Cadastro de Pessoa Física)" v-model="cliente.cpf" class="form-control">
            </div>
          </div>
          </br>
            <button class="btn btn-sm btn-primary btn-block">Cadastrar</button>
      </form>

      <table class="table table-striped">

        <thead class="bg-secondary">

          <tr>
            <th>NOME</th>
            <th>SOBRENOME</th>
            <th>CPF</th>
            <th></th>
          </tr>

        </thead>

        <tbody>

          <tr v-for="cliente of clientes" :key="cliente.id">

            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.sobreNome }}</td>
            <td>{{ cliente.cpf }}</td>
            <!--<td>
              <button @click="editar(cliente.id,cliente)" class="btn btn-success btn-small"><i class="material-icons">EDITAR</i></button>
              <button @click="remover(cliente)" class="btn btn-danger btn-small"><i class="material-icons">REMOVER</i></button>
            </td>-->

          </tr>

        </tbody>
      
      </table>

    </div>

  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'

export default {
  name: 'clientes',
  data() {
    return {
      cliente:{
        id: '',
        nome: '',
        sobrenome: '',
        cpf: '',
      },
      clientes: [],
      errors: []
    }
  },
  computed: {
    ...mapState([
      'usuario'
    ])
  },
  methods: {
    cadastrar() {
      axios.post('cliente/salvar',
          {
            nome: this.cliente.nome,
            sobreNome: this.cliente.sobrenome,
            cpf: this.cliente.cpf,
            usuario: this.usuario
          })
        .then(res => {
          this.cliente.nome = ''
          this.cliente.sobrenome = ''
          this.cliente.cpf = ''
          this.atualizar()
        })
        .catch(error => console.log(error))
    },
    atualizar () {
      axios.get('cliente/getAll', 
          { headers: { Accept: 'application/json' } })
        .then(res => {
          console.log(res)
          this.clientes = res.data
        })
        .catch(error => console.log(error))
    }
  },
  created () {
    this.atualizar()
  }
}
</script>