<template>
  <div id="app" class="container">
    <div id="container" class="container">
      <div id="nav" class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <h4><router-link to="/">Home</router-link> | </h4>
          </li>
          <li class="nav-item" v-if="estaAutorizado">
            <h4 ><router-link to="/carro/getAll" > Cadastro de Carros</router-link> |</h4>
          </li>
          <li class="nav-item" v-if="usuario">
            <h4><router-link to="/cliente/getAll"> Cadastro de Clientes</router-link> |</h4>
          </li>
          <li class="nav-item">
            <h4><a v-if="usuario" @click="logout" > Logout</a></h4>
          </li>
          <li class="nav-item">
            <h4><router-link v-if="!usuario" to="/login"> Login</router-link></h4>
          </li>  
        </ul>         
      </div>
    </div>
    <router-view/>
  </div>
</template>

<script>
import { mapState} from 'vuex'
import { mapMutations } from 'vuex'
import axios from 'axios'
export default {
  name: 'app',
  computed: {
    ...mapState([
      'usuario',
      'estaAutorizado'
    ])
  },
  methods: {
    ...mapMutations([
      'logout',
      'verificarAutorizacoes'
    ])
  }
}
</script>
